%h1 Alle Benutzer

%table{:class => "users"}
  %thead
    %tr
      %th Name
      %th Gehalt
      %th 

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.salary
        %td= link_to 'Weitere Details', user
%br
= link_to 'Neue Benutzer zufügen', new_user_path
