%h1 Alle Monatsabrechnungen

%table{:class => "balances"}
  %thead
    %tr
      %th Zeitraum
      %th Totalausgaben
      %th 

  %tbody
    - @balance_checks.each do |balance|
      %tr
        %td= balance.time_period_string
        %td= sprintf('%.2f',balance.total_balance.round(2))
        %td= link_to 'Mehr Informationen', balance
%br
= link_to 'Eine neue Monatsabrechnung machen', new_balance_path

